<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Itineranteando - Contacto</title>
  <link rel="stylesheet" href="../css/fuentes.css">
  <link rel="stylesheet" href="../css/estilo_general.css">
  <!-- <link rel="stylesheet" href="css/estilo_index.css"> -->
</head>
<body>
  <header>
    <img class="logo_pc" src="../recursos/logos/logo_grande_fondo_claro.png">
    <img class="logo_movil" src="../recursos/logos/logo_pequeno_fondo_claro.png">
    <h1>Itineranteando</h1>
    <nav>
      <a>
        <div>
          <p>Filtros</p>
          <img class="no_hover_image" src="../recursos/inputs/pagina_principal.png">
          <img class="hover_image" src="../recursos/inputs/pagina_principal_hover.png">
        </div>
      </a>
      <a>
        <div>
          <p>Inicia sesión</p>
          <img class="no_hover_image" src="../recursos/inputs/iniciar_sesion.png">
          <img class="hover_image" src="../recursos/inputs/iniciar_sesion_hover.png">
        </div>
      </a>
    </nav>
  </header>
  <main>

  </main>
  <footer>
    <div>
      <h4>Itineranteando</h4>
      <p>Dirección</p>
    </div>
    <div class="sub_footer">
      <div>
        <ul>SOBRE NOSOTROS
          <li><a>¿Quiénes somos?</a></li>
        </ul>
      </div>
      <div class="redes_sociales">
        <hr>
        <a class="link_redes" href="https://www.instagram.com/?hl=es" target="_blank">
          <div>
            <img src="../recursos/inputs/instagram.png" class="no_hover_image"/>
            <img src="../recursos/inputs/instagram_hover.png" class="hover_image"/> 
            <p>Instagram</p>
          </div>
        </a>
        <hr class="hr_redes_sociales">
        <a class="link_redes" href="https://www.facebook.com/?locale=es_ES" target="_blank">
          <div>
            <img src="../recursos/inputs/facebook.png" class="no_hover_image"/>
            <img src="../recursos/inputs/facebook_hover.png" class="hover_image"/> 
            <p>Facebook</p>
          </div>
        </a>
        <hr class="hr_redes_sociales">
        <a class="link_redes" href="https://x.com/?lang=es" target="_blank">
          <div>
            <img src="../recursos/inputs/x.png" class="no_hover_image"/>
            <img src="../recursos/inputs/x_hover.png" class="hover_image"/> 
            <p>X</p>
          </div>
        </a>
      </div>
    </div>
  </footer>
</body>
</html>