<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roma, la ciudad eterna</title>
  <link rel="stylesheet" href="../../css/fuentes.css">
  <link rel="stylesheet" href="../../css/estilo_general.css">
  <link rel="stylesheet" href="../../css/estilo_articulo.css">
</head>
<body>
  <header>
    <img class="logo_pc" src="../../recursos/logos/logo_grande_fondo_claro.png">
    <img class="logo_movil" src="../../recursos/logos/logo_pequeno_fondo_claro.png">
    <h1>Itineranteando</h1>
    <nav>
      <a href="../../index.html">
        <div>
          <img class="no_hover_image" src="../../recursos/inputs/pagina_principal.png">
          <img class="hover_image" src="../../recursos/inputs/pagina_principal_hover.png">
          <p>Página principal</p>
        </div>
      </a>
      <a href="">
        <div>
          <img class="no_hover_image" src="../../recursos/inputs/iniciar_sesion.png">
          <img class="hover_image" src="../../recursos/inputs/iniciar_sesion_hover.png">
          <p>Inicia sesión</p>
        </div>
      </a>
    </nav>
  </header>
  
  <main>
    <h2>Roma, la ciudad eterna</h2>
    <article class="cabecera_articulo">
      <img src="../../imagenes/imagenes_articulos/roma_2016/roma_2016_destacada.png" alt="Panteón, Roma">
      <section>
        <a href="../contacto.html" class="enlace_contacto">
            <img src="../../imagenes/imagenes_perfil/luca_perfil.png">
            <p>Luca Carreras Pons</p>
        </a>
        <div>
          <p>Julio, 2016</p>
        </div>
      </section>
    </article>
    <article class="cuerpo_articulo">
      <p>
        Un paseo por Roma no deja indiferente a nadie. La ciudad rebosa historia y cultura
        en cada una de sus calles y eso es lo que atrae a miles de personas a concocerla y disfrutarla.
        Desde el turista que busca una escapada tranquila hasta el que católico que anhela visitar el
        centro de la fe, muchos son los perfiles que quedan hechizados por el encanto de la Ciudad Eterna.
      </p>
      <p>
        En este artículo explicaré mi experiencia y mis recomendaciones, que te recomiendo leer
        si tienes planeado visitar Roma próximamente. 
      </p>
      <h5>Datos generales</h5>
      <p>
        Roma se encuantra en el centro de Italia, en la región conocida como el Lazio. La ciudad tiene
        una población de 2,7 millones de habitantes -la mayor del país-, sin embargo sigue siendo mas
        pequeña que otras ciudades europeas como Madrid, Berlín, Londres o Estambul. Sumando su área
        metropolitana, Roma es la tercera de Italia por debajo de Milán y Nápoles.   
      </p>
      <p>
        El aeropuerto principal, Roma-Fiumicino, se encuentra a unos escasos 34 kilómetros del centro.
        El tren Leonardo Express conecta el aeropuerto con la Estación Termini de Roma con frecuencias de
        cuatro horas. También existe servicio de taxi y muchos hoteles incluyen servicio de recogida
        desde el aeropuerto -como fue mi caso-.
      </p>
      <h5>¿Qué ver en Roma?</h5>
      <p>
        Poco original seré en este artículo, pues a escasos lectores les resultará desconocida Roma aún sin haberla
        pisado siquiera.
      </p>
      <p>
        La mayor parte de los monumentos y localizaciones emblemáticas de Roma se encuentran en su centro
        histórico -Municipio I-, por lo que es viable visitar la ciudad a pie.
      </p>
      <p>
        Comenzando por el barrio el mismo centro de Roma, en la rivera oriental del Río Tíber podemos encontrar
        algunas de las localizaciones más famosas. La Piazza Navona es uno de los lugares más visitados. Es una plaza
        alargada de norte a sur. Toma el lugar donde antaño se ubicó el estadio romano de Domiciano, y convertida en
        plaza del mercado durante el papado de Sixto V. Con el pasar del tiempo fue adquiriendo su distintiva arquitectura
        barroca. La iglesia de Sant'Agnese in Agone y las fuentes hacen de éste lugar merezca ser visitado.
      </p>
      <section>
        <img src="../../imagenes/imagenes_articulos/roma_2016/roma_2016_5.png">
        <figcaption>Plaza Navona, Roma</figcaption>
      </section>
      <p>
        Cerca se ubica el Panteón, otro de los lugares más emblemáticos del centro de Roma. Originalmente construido como templo pagano y reconvertido posterormente en iglesa es una
        de las estructuras más antiguas de la ciudad. Su cemento especial hecho con cenizas volcánicas ha logrado hacer que esta monumental construcción resista en pié dos milenios.
      </p>
      <p>
        Atravesando el río Tíber encontramos otra de las maravillas de Roma, el Castillo de San Ángelo. Fue durante la época romana el Mausoleo de Adriano y posteriormente fue reconvertido en fortaleza a partir del año 403 durante el reinado del emperador de Occidente Honorio. 
      </p>
      <section>
        <img src="../../imagenes/imagenes_articulos/roma_2016/roma_2016_1.png">
        <figcaption>Castillo de San Ángelo, Roma</figcaption>
      </section>
      <p>
        Al oeste del Castillo se encuentra el barrio de Borgo, desde el cual se puede llegar a la Ciudad del Vaticano. Este barrio fue durante la Edad Media, junto al barrio del Trastévere, de los únicos al oeste del Río Tíber. En el habitaron durante este periodo los cardenales de la Santa Sede
        y algunas familias influyentes de la ciudad. La configuración moderna del distrito sin embargo es mas reciente y permite ver el Vaticano desde el extremo oriental del barrio.
      </p>
      <section>
        <img src="../../imagenes/imagenes_articulos/roma_2016/roma_2016_4.png">
        <figcaption>Basílica de San Pedro, Ciudad del Vaticano</figcaption>
      </section>
      <p>
        Al final de Borgo se encuentra la plaza de San Pedro, límite entre Italia y la Ciudad del Vaticano. Para visitar los Museos Vaticanos recomiendo comprar las entradas por internet para evitar la larga cola que rodea las murallas del Vaticano, en especial si lo visitas en verano.
      </p>
      <section>
        <img src="../../imagenes/imagenes_articulos/roma_2016/roma_2016_2.png">
        <figcaption>Basílica de San Pedro por la tarde, Ciudad del Vaticano</figcaption>
      </section>
      <p>Y para finalizar, saliendo del centro de la ciudad podemos encontrar el famosos Coliseo de Roma. Ubicado en el barrio de Garbatella, hay que
        caminar un poco para llegar a el. Tendrás que tener paciencia si quieres visitarlo por dentro, ya que no venden entradas online y tendrás que esperar
        en la cola.
      </p>
      <section>
        <img src="../../imagenes/imagenes_articulos/roma_2016/roma_2016_3.png">
        <figcaption>Coliseo romano, Roma</figcaption>
      </section>
      <p>
        ¡Gracias por leer el artículo! Si necesitas ayuda con tu viaje a Roma puedes contactárme directamente o escribir de forma general en la web en la sección
        de contacto de abajo.
      </p>
    </article>
      <aside>
        <h3>Contáctame</h3>
        <a href="../contacto.html">
          <div class="contacto_autor">
            <img src="../../imagenes/imagenes_perfil/luca_perfil.png">
            <p>Luca Carreras Pons</p>
          </div>
        </a>
        <div>
          <a href="mailto:luca.carreras.pons@gmail.com" target="_blank"> luca.carreras.pons@gmail.com</a>
        </div>
        <div class="redes_sociales_autor">
            <a class="link_redes" href="https://www.instagram.com/?hl=es" target="_blank">
              <div>
                <img src="../../recursos/inputs/instagram_autor.png" class="no_hover_image"/>
                <img src="../../recursos/inputs/instagram_autor_hover.png" class="hover_image"/> 
                <p>Instagram</p>
              </div>
            </a>
            <a class="link_redes" href="https://www.instagram.com/?hl=es" target="_blank">
              <div>
                <img src="../../recursos/inputs/facebook_autor.png" class="no_hover_image"/>
                <img src="../../recursos/inputs/facebook_autor_hover.png" class="hover_image"/> 
                <p>Facebook</p>
              </div>
            </a>
        </div>
      </aside>
  </main>

  <footer>
    <div>
      <h4>Itineranteando</h4>
      <p>Dirección</p>
    </div>
    <div class="sub_footer">
      <div>
        <ul>SOBRE NOSOTROS
          <li><a>¿Quiénes somos?</a></li>
          <li><a>Contacto</a></li>
        </ul>
      </div>
      <div class="redes_sociales">
        <a class="link_redes" href="https://www.instagram.com/?hl=es" target="_blank">
          <div>
            <img src="../../recursos/inputs/instagram.png" class="no_hover_image"/>
            <img src="../../recursos/inputs/instagram_hover.png" class="hover_image"/> 
            <p>Instagram</p>
          </div>
        </a>
        <a class="link_redes" href="https://www.facebook.com/?locale=es_ES" target="_blank">
          <div>
            <img src="../../recursos/inputs/facebook.png" class="no_hover_image"/>
            <img src="../../recursos/inputs/facebook_hover.png" class="hover_image"/> 
            <p>Facebook</p>
          </div>
        </a>
        <a class="link_redes" href="https://x.com/?lang=es" target="_blank">
          <div>
            <img src="../../recursos/inputs/x.png" class="no_hover_image"/>
            <img src="../../recursos/inputs/x_hover.png" class="hover_image"/> 
            <p>X</p>
          </div>
        </a>
      </div>
    </div>
  </footer>
</body>
</html>